TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
MINIAPP_BOT_TOKEN=your_miniapp_bot_token
MINIAPP_URL=https://appsale-store.vercel.app/
DATABASE_URL=your_neon_database_url
ADMIN_PASSWORD=your_private_admin_password
